
.basket-container {
    width: 1020px;
    margin: 0 auto;
    .bready-crumbs {
        // margin-bottom: 10px;
        margin: 20px 0 0 0px;
    }
    .g-wrapper-basket {
        display: flex;
        &__left {
            .g-left__title {
                margin-top: 20px;
                margin-bottom: 29px;
                margin-left: 10px;
                font-size: 24px;
                font-family: 'Roboto Medium';
            }
            .wrapper-apply {
                display: flex;
                align-items: center;
                margin: 10px 7px 0 10px;
                padding: 12px 17px 12px 17px;
                border: 1px solid #ECECEC;
                width: 485px;
                .input {
                    width: 275px;
                    height: 32px;
                }
                .btn-gen {
                    width: 162px;
                    height: 32px;
                    margin-left: 10px;
                    border-radius: 5px;
                    img {
                        display: none;
                    }
                }
            }
        }
        &__right {
            .top-block-right {
                margin-top: 76px;
                padding: 8px 0px 18px 26px;
                 display: block;
                 border: 1px solid #ECECEC;
                 border-bottom: none;
                .name-input-block {
                    font-size: 16px;
                    font-family: 'Roboto Regular';
                    color: $gray;
                }
                .input-block {
                    display: flex;
                    .input-group {
                        display: block;
                        margin-right: 17px;
                        .input {
                            width: 152px;
                            height: 35px;
                        }
                        &__name {
                            font-family: 'Roboto Light';
                            font-size: 14px;
                        }
                    }
                }
            }
            .middle-block-right {
                border: 1px solid #ECECEC;
                padding-left: 26px;
                padding-bottom: 20px;
                border-bottom: 0;
                &__top-line {
                    padding: 13px 17px 0px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .form-group_select {
                        margin-bottom: 0;
                        width: 262px;
                        .select2-container--default {
                            width: 100% !important;
                            border-radius: 5px;
                            &.select2-container--open {
                                .select2-selection__rendered {
                                    position: relative;
                                    &:before {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .select2-selection--single {
                                border: none;
                                border-radius: 5px;
                                height: 35px;
                                &:focus, &:hover {
                                    outline: none;
                                }
                                .select2-selection__rendered {
                                    position: relative;
                                    font-size: 14px;
                                    line-height: 34px;
                                    color: #6A6A6A;
                                    font-family: 'Roboto Light';
                                    &:before {
                                        width: 21px;
                                        height: 21px;
                                        position: absolute;
                                        right: 10px;
                                        top: 7px;
                                        content: '';
                                        background-image: url('../img/down.png');
                                    }
                                }
                                .select2-selection__arrow {
                                    display: none;
                                }
                            }
                        }
                    }
                    .delivery-title {
                        font-size: 16px;
                        font-family: 'Roboto Regular';
                        margin-bottom: 0;
                    }
                }
                .button-line {
                    display: flex;
                    .btn-gen {
                        width: 162px;
                        height: 48px;
                        line-height: 14px;
                        color: $general;
                        background: #fff;
                        border: 1px solid $general;
                        padding-left: 10px;
                        margin: 12px 5px 0  0px;
                        border-radius: 5px;
                        &__top-span {
                            font-size: 13px;
                            font-family: 'Roboto Regular';
                        }
                        &__down-span {
                            font-size: 13px;
                            font-family: 'Roboto Light';
                        }
                        &.active {
                            background: $general;
                            color: #fff;
                        }
                    }
                }
                .text-block {
                    margin-top: 10px;
                    &__name {
                        font-size: 14px;
                        font-family: 'Roboto Regular';
                        color: $gray;
                        margin-bottom: 5px;
                    }
                    &__adress {
                        font-size: 14px;
                        font-family:  'Roboto Light';
                    }
                    .this-hour {
                        font-size: 14px;
                        font-family: 'Roboto Regular';
                        color: $gray;
                        margin-top: 12px;
                    }
                    .hour-work {
                        margin-top: 8px;
                        padding-right: 10px;
                        // margin-bottom: 20px;
                        &__text {
                            display: flex;
                            justify-content: space-between;
                            font-size: 14px;
                            margin-bottom: 3px;
                            font-family: "Roboto Light";
                        }
                    }
                    &__term {
                        font-size: 14px;
                        font-family: 'Roboto Regular';
                        color: $gray;
                        margin-top: 7px;
                    }
                    .btn-gen {
                        border: 1px solid $general;
                        color: $general;
                        background: #fff;
                        width: 162px;
                        height: 32px;
                        margin-top: 5px;
                    }
                }
            }
            .bottom-block-right {
                border: 1px solid #ECECEC;
                &__top-line {
                    padding: 10px 17px 10px 26px; 
                    // border-top: 1px solid #ECECEC;
                    border-bottom: 1px solid #ECECEC;
                    display: flex;
                    justify-content: space-between;
                    .form-group_select {
                        margin-bottom: 0;
                        width: 326px;
                        .select2-container--default {
                            width: 100% !important;
                            border-radius: 5px;
                            &.select2-container--open {
                                .select2-selection__rendered {
                                    position: relative;
                                    &:before {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .select2-selection--single {
                                border: none;
                                border-radius: 5px;
                                height: 35px;
                                &:focus, &:hover {
                                    outline: none;
                                }
                                .select2-selection__rendered {
                                    position: relative;
                                    font-size: 14px;
                                    line-height: 34px;
                                    color: #6A6A6A;
                                    font-family: 'Roboto Light';
                                    &:before {
                                        width: 21px;
                                        height: 21px;
                                        position: absolute;
                                        right: 10px;
                                        top: 7px;
                                        content: '';
                                        background-image: url('../img/down.png');
                                    }
                                }
                                .select2-selection__arrow {
                                    display: none;
                                }
                            }
                        }
                    }
                    .delivery-title {
                        font-size: 16px;
                        font-family: 'Roboto Regular';
                    }
                }
                &__content {
                    padding: 0px 17px 22px 26px;
                    .hour-work__text {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        font-family: 'Roboto Light';
                    }
                    .btn-gen {
                        font-size: 13px;
                        font-family:  'Roboto Regular';
                        margin: 21px 0 0 146px;
                        width: 203px;
                        height: 37px;
                    }
                }
            }
        }
    }
    .g-wrapper-recomendation {
        position: relative;
        padding-left: 87px;
        margin-top: 40px;
        margin-bottom: 60px;
        .g-wrapper-recomendation__title {
            font-size: 24px;
            text-align: center;
            margin: 20px 0 40px 0
        }
        .swiper-container {
            .swiper-slide {
                width: 240px;
            }
        }
        .swiper-button-prev {
            transform: scale(1.4);
            background-image: none;
            left: 33px;
            top: 295px;
            position: absolute;
            outline: 0;
        }
        .swiper-button-next {
            transform: scale(1.4);
            background-image: none;
            right: -20px;
            top: 295px;
            position: absolute;
            outline: 0;
        }
    }
}

.select-basket-dropdown  {
    border: 0.75px solid #F2F2F2;
    .select2-search--dropdown {
        padding: 0;
    }
    .select2-results__option {
        padding: 6px 10px;
        position: relative;
        border-bottom: 1px solid #F2F2F2;
        &:last-child {
            border-bottom: none;
        }
        &--highlighted[aria-selected] {
            background: #F9F9F9;
            color: #AEAEAE;
        }
    }
    .select2-results__option {
        font-size: 14px;
        font-family: 'Roboto Light';
        color: #AEAEAE;
    }
    .select2-results__option[aria-selected=true] {
        background: $hover;
        color: white;
    }
}


/* basket-product*/
.unit-basket {
    margin: 10px;
    display: flex;
    border: 1px solid #ECECEC;
    padding: 0px 15px 0px 15px;
    width: 485px;
    border-radius: 3px;
    &__left {

    }
    &__right {
        padding-left: 10px;
        width: 330px;
        .top-line {
            display: flex;
            justify-content: space-between;
            &__title {
                .content-title {
                    font-size: 16px;
                    font-family: 'Roboto Regular';
                }
            }
            button {
                background-color: transparent;
                border: 0;
                svg {
                    font-size: 10px;
                }
            }
        }
        .middle {
            width: 245px;
            p {
                font-size: 12px;
                font-family: 'Roboto Light';
            }
        }
        .bottom-line {
            display: flex;
            justify-content: space-between;
            width: 330px;
            &__left {
                display: flex;
                align-items: flex-end;
                margin-top: 15px;
                &-one {
                    font-family: 'Roboto Light';
                    font-size: 14px;
                }
                &-two {
                    margin-left: 10px;
                    font-family: 'Roboto Regular';
                    font-size: 16px;
                }
            }
            &__right {
                display: flex;
                align-items: center;
                &-btn {
                    background: transparent;
                    font-size: 19px;
                    width: 20px;
                    height: 20px;
                    border: 0;
                    line-height: 0;
                    outline: 0;
                }
                .input {
                    width: 53px;
                    height: 35px;
                    padding: 5px;
                    text-align: center;
                }
                &-mobile {
                    display: none;
                }
            }
        }
    }
}
.name-input-block__wrapper {
    .mob-item {
        display: none;
    }
}
