.card-product {

    &__wrapper {
        margin-top: 22px;
        margin-bottom: 96px;
    }
    &__head {
        width: 1017px;
        margin:  0 auto;
        display: flex;
        color: $gray;
        font-family: 'Roboto Light';
        margin-top: 20px;
        margin-bottom: 89px;
        &-left {
            position: relative;
            svg {
                position: absolute;
                top: 0;
                right: 0;
                stroke: #6A6A6A;
                width: 30px;
                height: 30px;
                color: transparent;
                stroke-width: 3;
                cursor: pointer;
                &.active {
                    stroke: $general;
                    fill: $general;
                }
            }
        }
        &-right {
            margin-top: 3px;
            width: 479px;
            margin-left: 80px;
            position: relative;
            .palitre {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                &:hover {
                    .hint-palitre {
                        opacity: 1;
                        padding: 5px 11px 7px 11px;
                        width: 100px;
                        height: auto;
                        overflow: initial;
                    }
                }
            }
            .hint-palitre {
                padding: 0;
                transition: opacity .3s;
                opacity: 0;
                position: absolute;
                font-size: 8px;
                background: $tooltip-bg;
                top: -35px;
                right: -40px;
                z-index: 2;
                border-radius: 3px;
                padding: 0;
                width: 0;
                height: 0;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    top: 23px;
                    right: 30%;
                    height: 4px;
                    transform: translateX(-50%);
                    width: 4px;
                    background: #fff;  
                    border-left: 11px  solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 11px solid #f5f5f5;
                }
            }
        }
        &-block {
            margin-top: 5px;
            margin-bottom: 20px;
            img {
                margin-right: 4px;
            }
        }
        &-name {
            font-size: 18px;
            font-family: 'Roboto Regular';
            color: $gray;
        }
        &-text {
            font-size: 12px;
            font-family: 'Roboto Light';
            color: $gray;
            line-height: 15px;
        }
        &-volume {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .volume {
                display: flex;
                align-items: center;
                p {
                    background-color: #F6F6F6;
                    border-radius: 25px;
                    width: 55px;
                    height: 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.active {
                        background-color: $hover;
                        position: relative;
                        left: -9px;
                        span {
                            color: white;
                            font-size: 10px;
                        }
                    }
                }
                span {
                    font-size: 8px;
                    font-family: 'Roboto Regular';
                    color: #9A9A9A;
                }
            }
            .volume-name, .inform {
                font-size: 12px;
            }
            .volume-name {
                margin-right: 7px;
            }
            .inform {
                color: $general;
            }
        }
        &-price {
            font-size: 16px;
            font-family: 'Roboto Regular';
            margin-top: 16px;
            margin-bottom: 4px;
            span {
                text-decoration: line-through;
                font-size: 16px;
            }
        }
        &-button {
            display: flex;
            align-items: center;
            margin-top: 15px;
            button {    
                width: 174.03px;
                height: 34.35px;
                font-size: 12px;
                &:first-child {
                   margin-right: 20px;
                }
            }
        }
    }
    &__nav {
        width: 1044px;
        margin:  0 auto;
    }
    &__content {
        position: relative;
        .line {
            position: absolute;
            height: 5px;
            background-color: #F6F6F6;
            top: 41px;
            width: 100%;
            z-index: -1;
        }
        .nav-tabs {
            width: 1044px;
            margin:  0 auto;
            border: none;
            padding: 0 76px;
            .nav-item {
                margin-right: 54px;
                margin-bottom: 0;
                &:last-child {
                    margin-right: 0;
                }
                .nav-link {
                    width: 165px;
                    text-align: center;
                    padding: 0;
                    font-size: 18px;
                    color: #6A6A6A;
                    font-family: 'Roboto Light';
                    padding-bottom: 14px;
                    &:hover {
                        border-color: none;
                        border: none;
                        padding-bottom: 14px;
                    }
                    &.active {
                        border-color: none;
                        border: none;
                        border-bottom: 5px solid #D9C68D;
                        border-radius: 3px;
                        color: $hover;
                        font-family: 'Roboto Regular';
                    }
                }
            }
        }
        .tab-content {
            width: 1044px;
            margin: 26px auto 0;
            .tab-first {
                padding: 12px 157px 0px 12px;
                .small {
                    margin-top: 20px;
                    display: block;
                    line-height: 18px;
                }
                &_three {
                    .small {
                        margin-bottom: 20px;
                    }
                }
            }
            .tab-pane {
                &_reviews {
                    h5 {
                        font-size: 18px;
                        color: #646464;
                        font-family: 'Roboto Regular';
                    }
                    button {
                        position: absolute;
                        bottom: 63;
                        right: 0;
                        width: 174.03px;
                        height: 34.35px;
                    }
                    .number {
                        position: absolute;
                        bottom: 70px;
                        right: 190px;
                        font-size: 13px;
                        color: #6E6E6E;
                        font-family: 'Roboto Light';
                    }
                }
            }
        }
    }
    &__write {
        position: relative;
        height: 168px;
        margin-bottom: 15px;
        background: #F6F6F6;
        border-radius: 5px;
        textarea {
            width: 100%;
            height: 130px;
            background-color: transparent;
            border: none;
            padding: 15px;
            padding-bottom: 25px;
        }
    }
    &__rating {
        margin-top: 15px;
        .rating-top {
            display: flex;
            align-items: center;
            &__text {
                font-size: 18px;
                margin: 2px 10px 0 0;
                font-family: 'Roboto Regular';
            }
            &__star-block {
                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
        .rating-bottom {
            &__text {
                font-size: 14px;
                font-family: 'Roboto Light';
            }
        }
    }
    &__tab-block {
        position: absolute;
        bottom: 10px;
        left: 22px;
        img {
            margin-right: 10px;
        }
    }
    &__tab-reviews {
        margin-bottom: 11px;
        padding: 20px 21px 10px;
        min-height: 188px;
        border: 2px solid #F9F9F9;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-product__tab-block {
            position: initial;
            img {
                margin-right: 3px;
            }
        }
        h6 {
            font-size: 16px;
            font-family: 'Roboto Regular';
            margin-bottom: 17px;
        }
        span {
            font-size: 14px;
            font-family: 'Roboto Light';
            color: #6A6A6A;
            display: block;
            line-height: 16px;
        }
    }
    &__tab-bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tab-date {
        font-size: 14px;
        font-family: 'Roboto Light';
    }
    .wrapper-out {
        margin-bottom: 20px;
        position: relative;
        .btn-gen {
            bottom: 63px;
        }
    }

}