.map  {
    height: 609px;
}
.wrapper-map-content {
    display: flex;
    width: 1072px;
    margin: 65px auto 0 auto;
    &__left {
        margin-right: 93px;
        width: 295px;
        // margin-right: 93px;
        .address-title {
            font-size: 24px;
            margin-bottom: 35px;
        }
        .adress-wrapper {
            width: 295px;
            &__uni {
                font-size: 18px;
               margin-bottom: 10px;
            }
        }
    }
    &__right {
        width: 683px;
        margin-bottom: 450px;
        .communication {
            &__title {
                font-size: 24px;
                margin-bottom: 35px;
            }
            &__input-block {
                margin-top: 15px;
                display: flex;
                .input-block__left {
                    display: block;
                    .input {
                        width: 338px;
                        margin-bottom: 14px;
                    }
                }
                .input-block__right {
                    .input {
                        width: 355px;
                        height: 181px;
                    }
                }
            }
            &__bottom-block {
                margin-top: 20px;
                label {
                    .label {
                        font-size: 14px;
                        font-family: 'Roboto-Light';
                    }
                }
                .btn-gen {
                    margin-top: 70px;
                    width: 683px;
                    height: 51px;
                }
            }
        }
    }
}