.map  {
    height: 609px;
    #google-container {
        height: 100%;
        .gmnoprint {
            display: none;
        }
        .gm-style-cc {
            display: none;
        }
        a {
            display: none !important;
        }
    }
    // div {
    //     img {
    //         width: 50px!important;
    //         height: 50px!important;
    //     }
    // }
}
.wrapper-map-content {
    font-family: 'Roboto Regular';
    display: flex;
    width: 1072px;
    margin: 61px auto 0 auto;
    &__left {
        margin-right: 93px;
        width: 295px;
        // margin-right: 93px;
        .address-title {
            font-size: 24px;
            margin-bottom: 28px;
            font-family: 'Roboto Light';
        }
        .adress-wrapper {
            width: 295px;
            &__uni {
                font-size: 18px;
                margin-bottom: 15px;
                font-family: 'Roboto Light';
            }
        }
    }
    &__right {
        width: 683px;
        margin-bottom: 450px;
        .communication {
            &__title {
                font-size: 24px;
                margin-bottom: 31px;
                font-family: 'Roboto Light';
            }
            &__text {
                font-size: 18px;
                font-family: 'Roboto Light';
                line-height: 21px;
            }
            &__input-block {
                margin-top: 27px;
                display: flex;
                .input-block__left {
                    display: block;
                    .input {
                        height: 51px;
                        width: 317px;
                        margin-bottom: 14px;
                        padding: 12px 23px;
                    }
                }
                .input-block__right {
                    margin-left: 12px;
                    .input {
                        width: 355px;
                        height: 181px;
                        padding: 15px 15px;
                    }
                }
            }
            &__bottom-block {
                margin-top: 20px;
                label {
                    .label {
                        font-size: 14px;
                        font-family: 'Roboto Light';
                    }
                }
                .btn-gen {
                    margin-top: 10px;
                    width: 683px;
                    height: 51px;
                }
            }
        }
    }
}