.register {
    &__wrapper {
        width: 1072px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 37px;
    }
    &__name {
        font-size: 24px;
        font-family: 'Roboto Medium';
    }
    &__form {
        &-group {
            width: 333px;
            margin-bottom: 16px;
            input, button {
                width: 100%;
            }
            button {
                height: 40px;
            }
            &_inner {
                width: auto;
                margin-bottom: 35px;
            }
        }
    }
    &__text {
        font-size: 14px;
        font-family: 'Open Sans Light';
        margin-bottom: 39px;
        margin-top: 19px;
    }
    &__form-text {
        font-family: 'Open Sans Light';
        font-size: 14px;
        margin-top: -2px;
        margin-bottom: 13px;
    }
    &__form-group {
        &>p {
            font-size: 12px;
            margin-top: 7px;
            margin-bottom: 19px;
        }
        p, span {
            font-family: 'Open Sans Light';
        }
        label {
            .label {
                font-size: 14px;
            }
        }
    }
   
}

