.register {
    &__wrapper {
        width: 1072px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 0;
    }
    &__name {
        font-size: 24px;
        font-family: 'Roboto Medium';
    }
    &__form {
        &-group {
            width: 333px;
            margin-bottom: 18px;
            input, button {
                width: 100%;
            }
            button {
                height: 40px;
            }
            &_inner {
                margin-bottom: 35px;
            }
        }
    }
    &__text {
        font-size: 14px;
        font-family: 'Open Sans Light';
        margin-bottom: 24px;
        margin-top: 8px;
    }
    .necessarily {
        font-size: 12px;
        font-family: 'Roboto Light';
        margin-top: 2px;
        display: block;
    }
    &__form-text {
        font-family: 'Open Sans Light';
        font-size: 14px;
        margin-top: -2px;
        margin-bottom: 13px;
    }
    label {
        font-size: 14px; 
        font-family: 'Roboto Light';
        color: #6A6A6A;
        margin-bottom: 3px;
        span {
            font-family: 'Open Sans Light';
            font-size: 12px;
            margin-left: 8px;
        }
    }
    &__form-group {
        &_select {
            .group {
                display: flex;
            }
            .select2 {
                margin-right: 11px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .select2-container--default {
                width: 100% !important;
                border-radius: 5px;
                height: 40px;
                background: #F5F5F5;
                &.select2-container--open {
                    .select2-selection__rendered {
                        position: relative;
                        &:before {
                            transform: rotate(180deg);
                        }
                    }
                }
                .select2-selection--single {
                    border: none;
                    border-radius: 5px;
                    height: 35px;
                    &:focus, &:hover {
                        outline: none;
                    }
                    .select2-selection__rendered {
                        background: #F5F5F5;
                        border-radius: 5px;
                        position: relative;
                        font-size: 14px;
                        line-height: 40px;
                        color: #6A6A6A;
                        font-family: 'Roboto Light';
                        &:before {
                            width: 21px;
                            height: 21px;
                            position: absolute;
                            right: 10px;
                            top: 9px;
                            content: '';
                            background-image: url('../img/arrow-gray.png');
                        }
                    }
                    .select2-selection__arrow {
                        display: none;
                    }
                }
            }
        }
        label {
            .checkbox-custom {
                margin-left: 0;
                margin-right: 4px;
            }
        }
        &_check {
            margin-bottom: 13px;
        }
        &_inner {
            margin-bottom: 14px;
            label {
                display: block;
                .checkbox-custom {
                    display: inline-block;
                    margin-left: 0;
                }
                .label {
                    display: inline;
                    line-height: 27px;
                }
            }
        }
        &>p {
            font-size: 12px;
            margin-top: 7px;
            margin-bottom: 19px;
        }
        p, span {
            font-family: 'Open Sans Light';
        }
        label {
            .label {
                font-size: 14px;
            }
        }
    }
   
}
.select2-container--default {
    .select2-search--dropdown {
        .select2-search__field {
            border: 1px solid #F3F3F3;
            font-family: 'Roboto Light';
            color: #6A6A6A;
            font-size: 14px;
            &::placeholder {
                font-family: 'Roboto Light';
                color: #6A6A6A;
                font-size: 14px;
            }
        }
    }
} 


