<div class="unit-basket">
    <div class="unit-basket__left">
            <img src="./img/product-image.png" alt="">
    </div>
    <div class="unit-basket__right">
        <div class="top-line">
            <div class="top-line__title">
                <h4 class="content-title">  Название товара</h4>
            </div>
            <span> @@include('mixins/svg-icon.html', {"name": "close", "class": ""}) </span>
        </div>
        <div class="middle">
                <p> Описание товара в несколькострок, в две строки...</p>
        </div>
        <div class="bottom-line">
            <div class="bottom-line__left">
                <span class="bottom-line__left-one">300мл</span>
                <span class="bottom-line__left-two">1 500 руб.</span>
            </div>
            <div class="bottom-line__right">
                <button class="bottom-line__right-btn">-</button>
                <input type="text" class="input" placeholder="1">
                <button class="bottom-line__right-btn">+</button>
            </div>
        </div>
    </div>
</div>