<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__block">
            <ul>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Уход за волосами</a></li>
                <li><a href="#">Стайлинг</a></li>
                <li><a href="#">Окрашивание</a></li>
                <li><a href="#">Обучение</a></li>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
        </div>
        <div class="footer-mobile">
            <button><span> Информационные разделы</span> <img src="img/arrow-down.png" alt=""> </button>
        </div>
        <div class="footer__block footer__block_second">
            <ul>
                <li><a href="#">Оплата и доставка</a></li>
                <li><a href="#">Подписка на новости</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Обратная связь</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Политика обработки данных</a></li>
                <li><a href="#">Задать вопрос стилисту</a></li>
            </ul>
        </div>
        <div class="footer__block footer__block_last">
            <ul>
                <li>namemail@mail.ru</li>
                <li>Пн-Пт, с 10:00 до 18:00</li>
                <li>+7-900-000-00-00</li>
            </ul>
            <div class="footer__sitebar">
                <span>Мы в соцсетях</span>
                <div class="footer__sitebar-items">
                    <a href="#" class="footer__sitebar-item">
                        <img src="img/insta.png" alt="">
                    </a>
                    <a href="#" class="footer__sitebar-item">
                        <img src="img/vk.png" alt="">
                    </a>
                    <a href="#" class="footer__sitebar-item">
                        <img src="img/you-tube.png" alt="">
                    </a>
                    <a href="#" class="footer__sitebar-item">
                        <img src="img/fb.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>