<div class="home-content__head-block active">
    <a href="#" class="home-content__head-like">
        @@include('mixins/svg-icon.html', {"name": "like", "class": ""})
    </a>
    <div class="home-content__head-img">
        <img src="img/home-img.png" alt="">
    </div>
    <div class="home-content__head-foname">
            Название товара
    </div>
    <div class="home-content__head-text">Описание товара в несколько строк, в две строки...</div>
    <div class="home-content__head-review">
        <img src="img/star-active.png" alt="">
        <img src="img/star-active.png" alt="">
        <img src="img/star-active.png" alt="">
        <img src="img/star-active.png" alt="">
        <img src="img/star-active.png" alt="">
    </div>
    <div class="home-content__head-price">1 500 руб</div>
    <div class="home-content__head-button">
        <button class="btn-gen">Купить</button>
    </div>
</div>