<header class="header">
    <div class="header__wrapper">
        <div class="header__mobile">
            <button class="header__mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <a href="./home.html" class="header__logo">
            <img src="img/logo.png" alt="">
        </a>
        <div class="header__navbar">
            <nav>
                <ul class="header__navbar-items">
                    <li><a href="#">Акции </a></li>
                    <li><a href="#">Уход за волосами</a></li>
                    <li><a href="#">Стайлинг</a></li>
                    <li><a href="#">Окрашивание</a></li>
                    <li><a href="#">Обучение</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">О компании</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__interface">
            <div class="header__interface-items">
                <button class="header__interface-item">
                    <img src="img/user.png" alt="">
                </button>
                <button class="header__interface-item">
                    <img src="img/like.png" alt="">
                </button>
                <button class="header__interface-item">
                    <img src="img/pay.png" alt="">
                </button>
                <button class="header__interface-item">
                    <img src="img/search.png" alt="">
                </button>
            </div>
        </div>
    </div>
</header>