<header class="header">
    <div class="header__wrapper">
        <div class="header__mobile">
            <button class="header__mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <a href="./home.html" class="header__logo">
            <img src="img/logo.png" alt="">
        </a>
        <div class="header__navbar">
            <nav>
                <ul class="header__navbar-items">
                    <li class="menu"><a href="#">Акции </a></li>
                    <li class="menu">
                        <a href="#">Уход за волосами</a>
                        <button class="menu-btn"><img src="img/arrow-gray.png" alt=""></button>
                        <ul class="mobile-menu">
                            <li class="menu-1">
                                <a href="#">Категория</a>
                                <button class="menu-btn-1"><img src="img/arrow-gray.png" alt=""></button>
                                <ul class="mobile-menu-1">
                                    <li><a href="#">Шампунь</a></li>
                                    <li><a href="#">Кондиционер</a></li>
                                    <li><a href="#">Маска </a></li>
                                    <li><a href="#">Несмываемый уход</a></li>
                                    <li><a href="#">Бальзам </a></li>
                                    <li><a href="#">Лосьон</a></li>
                                    <li><a href="#">Масло</a></li>
                                    <li><a href="#">Крем</a></li>
                                    <li><a href="#">Сыворотки </a></li>
                                    <li><a href="#">Наборы </a></li>
                                </ul>
                            </li>
                            <li class="menu-1">
                                <a href="#">Тип волос</a>
                                <button class="menu-btn-1"><img src="img/arrow-gray.png" alt=""></button>
                                <ul class="mobile-menu-1">
                                    <li><a href="#">Шампунь</a></li>
                                    <li><a href="#">Кондиционер</a></li>
                                    <li><a href="#">Маска </a></li>
                                </ul>
                            </li>
                            <li class="menu-1">
                                <a href="#">Потребность</a>
                                <button class="menu-btn-1"><img src="img/arrow-gray.png" alt=""></button>
                                <ul class="mobile-menu-1">
                                    <li><a href="#">Шампунь</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu"><a href="#">Стайлинг</a>
                    <button class="menu-btn"><img src="img/arrow-gray.png" alt=""></button>
                    <li class="menu"><a href="#">Окрашивание</a>
                    <button class="menu-btn"><img src="img/arrow-gray.png" alt=""></button>
                    <li class="menu"><a href="#">Обучение</a></li>
                    <li class="menu"><a href="#">Сотрудничество</a></li>
                    <li class="menu"><a href="#">О компании</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__interface">
            <div class="header__interface-items">
                <a href="#" class="header__interface-item">
                    <img src="img/user.png" alt="">
                </a>
                <button class="header__interface-item">
                    <img src="img/like.png" alt="">
                </button>
                <button class="header__interface-item">
                    <img src="img/pay.png" alt="">
                </button>
                <button class="header__interface-item">
                    <img src="img/search.png" alt="">
                </button>
            </div>
        </div>
    </div>
</header>