@media #{$xs} {
    .modal-name  {
        .wrapper-name  {
            width: 320px;
            .content {
                .input-group {
                    padding-left: 21px;
                    input {
                        width: 276px;
                    }
                }
            }
            .bottom {
                width: 276px;
                margin: 0 auto;
                .btn-gen {
                    width: 100%;

                }
            }
        }
    }
    .cookies {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        &__wrapper {
            padding: 21px 10px;
            position: relative;
            background: #E3E3E3;
            width: 320px;
            min-height: 137px;
            a {
                color: #000000;
                font-family: 'Roboto Regular';
            }
            button {
                background-color: transparent;
                border: 0;
                right: 13px;
                position: absolute;
                top: 4px;
            }
        }
        &__text {
            font-size: 12px;
            text-align: center;
            font-family: 'Roboto Light';
            line-height: 23px;
            color: #000000;
        }
    } 
}