@media #{$sm} {
    .header {
        &__wrapper {
            width: 100%;
            height: 113px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:  wsm(20);
            padding-right:  wsm(25);
        }
        &__logo {
            order: 1;
            margin-right: wsm(42);
            position: initial;
        }
        &__navbar {
            order: 3;
            margin-right: 0;
            margin-top: 20px;
            ul {
                li {
                    margin-right: wsm(26.5);
                    a {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__interface {
            order: 2;
            &-item {
                margin-right: wsm(19);
            }
        }
    }
}

@media #{$xs} {
    .header {
        &__wrapper {
            height: 50px;
            display: flex;
            align-items: center;
        }
        &__mobile {
            display: block;
            button {
                background-color: transparent;
                border: none;
                width: 20px;
                height: 22px;
                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__logo {
            margin-right: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &__navbar {
            display: none;
        }
        &__interface {
            &-item {
                margin-right: 5.5px;
                &:last-child {
                    display: none;
                }
                &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }
}