@media #{$sm} {
    .header {
        &__wrapper {
            width: 100%;
            height: 113px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:  wsm(20);
            padding-right:  wsm(25);
        }
        &__logo {
            order: 1;
            margin-right: wsm(42);
            position: initial;
        }
        &__navbar {
            order: 3;
            margin-right: 0;
            margin-top: 20px;
            ul {
                li {
                    padding-right: wsm(26.5);
                    a {
                        font-size: 14px;
                        align-items: flex-start;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
                &.mobile-menu {
                    top: 113px;
                    .menu-1 {
                        &_last {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .menu-block {
            display: none;
        }
        &__interface {
            order: 2;
            &-item {
                margin-right: wsm(19);
            }
        }
    }
    .header-pay, .header-user, .header-like {
        top: 49px;
    }
}

@media #{$xs} {
    .header {
        &__wrapper {
            background-color:#F5F5F5;
            height: 50px;
            display: flex;
            align-items: center;
            position: relative;
            &.show {
                .header__navbar {
                    opacity: 1;
                    height: auto;
                    top: 0;
                }
                .header__mobile {
                    z-index: 6;
                    transform: rotate(90deg);
                }
                .header__mobile-menu  {
                    z-index: 6;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .header__logo {
                    z-index: 6;
                }
            }
        }
        &__mobile {
            display: block;
            transition: .3s;
            transform: rotate(0deg);
            width: 20px;
            height: 22px;
            button {
                background-color: transparent;
                border: none;
                width: 20px;
                height: 22px;
                position: relative;
                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__logo {
            margin-right: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &__navbar {
            top: -100%;
            overflow: hidden;
            height: 0;
            opacity: 0;
            width: 252px;
            position: absolute;
            margin-right: 0;
            left: 0;
            padding-top: 50px;
            margin-top: 0;
            z-index: 5;
            background-color: white;
            transition: .3s;
            ul {
                flex-direction: column;
                align-items: flex-start;;
                li {
                    width: 100%;
                    margin-right: 0;
                    position: relative;
                    button {
                        display: block;
                        border: none;
                        background-color: transparent;
                        position: absolute;
                        right: 15px;
                        top: 15px;
                    }
                    &:hover {
                        .mobile-menu {
                            display: none;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        padding: 15px;
                        border-bottom: 1px solid $border-menu;
                    }
                    a {
                        font-size: 16px;
                    }
                    &:last-child {
                        a {
                            margin-right: 0;
                        }
                    }
                }
                &.mobile-menu {
                    display: none;
                    position: initial;
                    padding: 0;
                    background: transparent;
                    .menu-1 {
                        width: 100%;
                        margin-right: 0;
                        display: block;
                        border-bottom: 1px solid $border-menu;
                        a {
                            border: none;
                            font-size: 14px;
                            padding: 12px 15px;
                            margin-bottom: 0;
                        }
                        &>a {
                            margin-bottom: 0;
                            font-family: 'Roboto Light';
                        }
                        li {
                            margin-bottom: 0;
                        }
                        button {
                            top: 8px;
                            opacity: .6;
                        }
                    }
                    .mobile-menu-1 {
                        display: none;
                        li {
                            a {
                                border: none;
                                font-size: 15px;
                                color: #6A6A6A;
                                padding: 7px 15px;
                            }
                        }
                    }
                }
            }
        }
        .menu-block {
            display: none;
        }
        &__interface {
            &-item {
                margin-right: 6px;
                &:last-child {
                    display: none;
                }
                &:nth-child(5) {
                    margin-right: 0;
                }
            }
            &-items {
                position: initial
            }
        }
    }
    .header-modal {
        &__wrapper {
            &:before {
                display: none;
            }
        }
    }
    .header-pay, .header-user, .header-like {
        right: 50%;
        transform: translateX(50%) scale(0.87);
        top: 34px;
        z-index: 5;
    }
    .header-pay {
        top: 37px;
    }
    .header-like {
        top: 41px;
    }
    .header-user {
    }
}