<!--=include modal.html -->
<!-- Vendor scripts plugins -->
<!-- build:js js/plugins.js -->
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/svg4everybody/dist/svg4everybody.min.js"></script>
<script src="vendor/swiper/dist/js/swiper.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="vendor/select2/dist/js/select2.full.min.js"></script>
<script src="vendor/select2/dist/js/select2.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
<!-- Scripts application -->
<script src="js/script.js" inline></script>
</body>
</html>