<div class="modal-name">
    <div class="wrapper-name">
        <div class="close-top"> 
            <div class="circle">
                <img src="img/close.png" alt="">
            </div>
        </div>
        <div class="top">
            <h3 class="top__title"> Оставьте имя и телефон</h3>
            <p class="top__small-title"> Мы свяжемся с вами в ближайшее время  </p>
        </div>
        <div class="content">
            <div class="input-group">
                <p class="input-group__name">Имя</p>
                <input class="input" placeholder="" type="input">
            </div>
            <div class="input-group">
                <p class="input-group__name">Телефон</p>
                <input class="input" placeholder="" type="input">
            </div>
        </div>
        <div class="bottom"> 
            <button class="btn-gen"> Подписаться </button>
        </div>
    </div>
</div>