.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow-top {
	font-size:(7/10)*1rem;
	width:(7/7)*1em;
}
.icon-svg-basket {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-basket-act {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-black-male-user-symbol {
	font-size:(43.028/10)*1rem;
	width:(43.028/43.028)*1em;
}
.icon-svg-close {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-svg-down-arrow {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-svg-like {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-svg-like-act {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-svg-like-active {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-svg-search {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-svg-search-act {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-svg-user {
	font-size:(139/10)*1rem;
	width:(139/139)*1em;
}
.icon-svg-user-act {
	font-size:(139/10)*1rem;
	width:(139/139)*1em;
}
