.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow-top {
	font-size:(7/10)*1rem;
	width:(7/7)*1em;
}
.icon-svg-close {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-svg-down-arrow {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
