.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow-left {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-svg-arrow-right {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-svg-facebook {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
.icon-svg-insta {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
.icon-svg-like {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-svg-logo {
	font-size:(31/10)*1rem;
	width:(131/31)*1em;
}
.icon-svg-pay {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-svg-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-svg-star {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-svg-user {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-svg-vk {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
.icon-svg-you-tube {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
