$xs: "screen and (max-width: 767px)";
$sm: "screen and (max-width: 1180px)";
$lg: "screen and (min-width: 1180px)";




$gray: #6A6A6A;
$general: #AC9349;
$dots: #F3F3F3;
$border: #F4F4F4;
$input-text: #737373;
$hover: #D9C68D;
$border-menu: #E8E8E8;
$succes: #57B44F;
$danger: #E32727;
$head-fon: #C4C4C4;
$basket-bg: #F7F7F7;

@function w($value) {
    @return ($value*100vw)/1920
};
// : 768
@function wsm($value) {
    @return ($value*100vw)/768
};
// : 320
@function wxs($value) {
    @return ($value*100vw)/320
};
